# Phone Specs DataSet

In [1]:
import numpy as np;
import pandas as pd;
import math;

In [2]:
phone_df_1 = pd.read_csv("../Assignments/datasets/phone_price/train.csv");
phone_df_1.drop(['price_range'], axis=1, inplace=True);

In [3]:
phone_df_2 = pd.read_csv("../Assignments/datasets/phone_price/test.csv");
phone_df_2.drop(["id"], inplace=True, axis=1);

In [4]:
merged = pd.concat([phone_df_1, phone_df_2.iloc[0:, :]], axis="rows");
phone_df = merged;
merged

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,842,0,2.2,0,1,0,7,0.6,188,2,2,20,756,2549,9,7,19,0,0,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,6,905,1988,2631,17,3,7,1,1,0
2,563,1,0.5,1,2,1,41,0.9,145,5,6,1263,1716,2603,11,2,9,1,1,0
3,615,1,2.5,0,0,0,10,0.8,131,6,9,1216,1786,2769,16,8,11,1,0,0
4,1821,1,1.2,0,13,1,44,0.6,141,2,14,1208,1212,1411,8,2,15,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1700,1,1.9,0,0,1,54,0.5,170,7,17,644,913,2121,14,8,15,1,1,0
996,609,0,1.8,1,0,0,13,0.9,186,4,2,1152,1632,1933,8,1,19,0,1,1
997,1185,0,1.4,0,1,1,8,0.5,80,1,12,477,825,1223,5,0,14,1,0,0
998,1533,1,0.5,1,0,0,50,0.4,171,2,12,38,832,2509,15,11,6,0,1,0
999,1270,1,0.5,0,4,1,35,0.1,140,6,19,457,608,2828,9,2,3,1,0,1

In [6]:
#Drop all rows with pnly 50% data
phone_df.dropna(thresh=math.floor(len(phone_df.columns)/2), inplace=True);

In [7]:
#Shuffle the dataSet
phone_df = phone_df.sample(frac=1).reset_index(drop=True);

In [8]:
phone_df.columns

Index(['battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g',
       'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height',
       'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi'],
      dtype='object')

In [9]:
analysis = phone_df.sample(frac=1).iloc[:, :];
analysis

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
1920,529,1,2.3,0,3,1,58,1.0,197,2,18,658,1294,873,11,5,4,1,1,0
1404,1974,0,1.0,0,4,0,24,0.3,80,7,13,250,545,861,7,4,6,1,0,1
837,1627,0,0.9,1,9,1,32,0.1,180,6,16,52,1082,3206,12,6,16,1,1,0
2127,941,0,1.3,1,3,0,26,0.4,128,3,5,994,1494,2875,6,3,11,1,0,1
335,1583,1,1.6,0,5,1,42,0.8,118,3,10,275,862,3652,14,10,9,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
923,1751,0,2.5,0,1,0,4,0.6,146,8,9,1499,1952,1155,19,14,12,0,1,1
654,1065,0,2.8,1,0,1,21,0.1,158,5,3,760,1722,1193,16,13,20,1,0,1
136,1273,0,0.5,1,6,1,47,0.2,98,1,12,685,1352,303,11,2,14,1,0,0
2676,1991,0,2.2,1,1,1,42,0.7,82,1,13,366,613,722,6,5,10,1,1,0
1574,865,0,2.9,0,5,0,16,0.1,89,4,12,335,1009,3494,13,3,14,0,0,1

In [10]:
analysis.reset_index(drop=True, inplace=True);

In [11]:
analysis = analysis.loc[:, ["ram", "clock_speed", "battery_power", "dual_sim", "four_g", "n_cores", "sc_w", "sc_h", "px_width", "px_height", "touch_screen", "wifi"]].sort_values(by=["clock_speed", "ram"])

In [12]:
analysis.reset_index(drop=True, inplace=True);

In [13]:
analysis

,ram,clock_speed,battery_power,dual_sim,four_g,n_cores,sc_w,sc_h,px_width,px_height,touch_screen,wifi
0,258,0.5,1801,1,0,6,8,14,1708,100,0,0
1,263,0.5,1153,1,0,5,10,19,1236,742,0,1
2,286,0.5,1371,0,1,4,9,11,810,352,0,0
3,292,0.5,742,0,1,3,0,8,1288,1161,1,1
4,294,0.5,823,0,0,8,9,13,888,630,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
2995,3774,3.0,1081,0,1,5,15,17,1683,174,1,0
2996,3788,3.0,597,1,0,2,0,12,708,35,0,1
2997,3851,3.0,816,1,0,1,3,10,1651,1196,0,1
2998,3863,3.0,1251,1,1,5,1,6,1405,806,1,0
2999,3868,3.0,1777,0,0,6,1,5,616,511,1,1

In [14]:
#Give a numerical value for the phone's performace
def performance(row):
    result = ((row.ram*row.clock_speed*row.n_cores)+row.battery_power);
    return np.log(result);

In [15]:
analysis["performance"] = analysis.apply(lambda row: performance(row), axis=1);

In [16]:
maximum_performance = analysis["performance"].max()+1.5;

In [17]:
analysis["performance"] = analysis["performance"].apply(lambda value: value/maximum_performance);

In [18]:
for_model = analysis.drop(["sc_w", "sc_h", "px_width", "px_height", "touch_screen"], axis="columns");

In [19]:
#Create a list of the columns and put all to lowecase
#column = list(for_model.columns);
#map(str.lower, columns)
#column.sort();
#column

In [20]:
#for_model = for_model.reindex(columns=column)

In [21]:
for_model

,ram,clock_speed,battery_power,dual_sim,four_g,n_cores,wifi,performance
0,258,0.5,1801,1,0,6,0,0.609739
1,263,0.5,1153,1,0,5,1,0.582391
2,286,0.5,1371,0,1,4,0,0.587875
3,292,0.5,742,0,1,3,1,0.549155
4,294,0.5,823,0,0,8,1,0.590081
...,...,...,...,...,...,...,...,...
2995,3774,3.0,1081,0,1,5,0,0.851135
2996,3788,3.0,597,1,0,2,1,0.780828
2997,3851,3.0,816,1,0,1,1,0.731580
2998,3863,3.0,1251,1,1,5,0,0.853135
2999,3868,3.0,1777,0,0,6,1,0.867688

In [ ]:
from sklearn.model_selection import KFold;
from sklearn.linear_model import LinearRegression;
from sklearn.tree import DecisionTreeRegressor;
from sklearn.ensemble import RandomForestRegressor;
from sklearn.svm import LinearSVR;

In [ ]:
lin_reg = LinearRegression();
DTR = DecisionTreeRegressor();
RFR = RandomForestRegressor(n_estimators=10);
LSV = LinearSVR(max_iter=500);

In [ ]:
def get_accuracy(model, x_train, x_test, y_train, y_test):
    model.fit(x_train, y_train);
    return model.score(x_test, y_test);

In [ ]:
kf = KFold(n_splits=80);
x = for_model.drop(["performance"], axis="columns");
y = for_model["performance"];

In [ ]:
#Increase the weight of wifi for a phone by increase the scale
def times_50(number):
    print(number);
    return lambda x: x*50;

In [ ]:
for_model["wifi"].astype("uint");
for_model["wifi"] = for_model["wifi"].apply(lambda x: x/50);
for_model

In [ ]:
lin_reg_ = [];
DTR_ = [];
RFR_ = [];
LSV_ = [];
for train_index, test_index in kf.split(x, y):
    try:
        x_train, x_test, y_train, y_test = x.iloc[train_index, :], x.iloc[test_index, :], y.iloc[train_index], y.iloc[test_index];
        lin_reg_.append(get_accuracy(lin_reg, x_train, x_test, y_train, y_test));
        DTR_.append(get_accuracy(DTR, x_train, x_test, y_train, y_test));
        RFR_.append(get_accuracy(RFR, x_train, x_test, y_train, y_test));
        LSV_.append(get_accuracy(LSV, x_train, x_test, y_train, y_test));
    except:
        continue

In [ ]:
print(np.array(lin_reg_).mean(), np.array(DTR_).mean(), np.array(RFR_).mean(), np.array(LSV_).mean())

In [ ]:
#print(np.array(SV_).mean());
for_model.columns

In [ ]:
LSV.predict([[258, 0.5, 1801, 1, 0, 6, 50]])

In [ ]:
RFR.predict([[258, 0.5, 1801, 1, 0, 6, 50]])

In [ ]:
DTR.predict([[258, 0.5, 1801, 1, 1, 6, 50]])

In [ ]:
lin_reg.predict([[1000, 0.8, 1, 1, 1, 1, 1090]])

In [ ]:
for_model[for_model['performance'] > 0.8]