# TREE DATA STRUCTURE

In [51]:
class Tree:
    def __init__(self, root):
        self.root = root;
        
    def printTree(self):
        self.root.printNode();
        
class Node:
    def __init__(self, data):#constructor
        self.left = None;#state or attributes
        self.right = None;
        self.children = 0;
        self.data = data;
        
    #Methods or functions
    def printNode(self):
        print(self.data);
    
    def insertNode(self, NewNode):
        if (self.data):
            if (NewNode.data < self.data):
                #insert to the left
                if (self.left == None):
                    self.left = NewNode;
                    self.children += 1;
                else:
                    self.left.insertNode(NewNode);
            elif (NewNode.data > self.data): 
                #insert to the right
                if (self.right == None):
                    self.right = NewNode;
                    self.children += 1;
                else:
                    self.right.insertNode(NewNode);

In [ ]:
class Person:
    def __init__(self, fname, lname):
        self.fname = fname;
        self.lname = lname;
        
    def totalName(self):
        return self.fname+" "+self.lname;

In [ ]:
class Father(Person):
    def __init__(self, fname, lname, children):
        super().__init__(fname, lname);
        self.children = children;

In [52]:
root = Node(3);
right = Node(90);
left = Node(2);

In [53]:
root.insertNode(right);
root.insertNode(left);

In [59]:
root.right.printNode()

90

In [1]:
import numpy as pd;
import pandas as pd;

In [9]:
df = pd.DataFrame({'x': [1, 2, 3, 4, 5], 'y':[2, 4, 6, 8, 10]});

In [10]:
df

   x   y
0  1   2
1  2   4
2  3   6
3  4   8
4  5  10

In [11]:
df.reindex(columns=['y', 'p'])

    y   p
0   2 NaN
1   4 NaN
2   6 NaN
3   8 NaN
4  10 NaN

In [7]:
df

   x   y
0  1   2
1  2   4
2  3   6
3  4   8
4  5  10